@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Page styling */
body{
  margin: 0;
  background-color: #f7eaa5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navigation Bar */
nav {
  background-color: #0066B3;
  padding: 1px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* Navigation Links */
nav a {
  color:white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0cm;
}

li {
  color: rgb(84, 217, 250);
  font-size: 18px;
}

button {
  background-color: #DA2032;
  border: none;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  box-shadow: 2px 3px 8px rgba (0,0,0,0.1);
}

button:hover {
  background: rgb(179, 84, 84);
  transform: scale(1.05);
}

quiz-container {
  background-color: rgb(246, 42, 42);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}